Django>=4.2,<6
django-cors-headers
djangorestframework

langchain
langchain-core
langchain-community
langchain-groq
langchain-qdrant
langchain-huggingface

sentence-transformers

qdrant-client
tavily-python

python-dotenv
whitenoise